* {
  box-sizing: border-box;
}
.login_signup_container {
  width: 100%;
  height: 750px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(43, 42, 40);
}
.chess_logo {
  width: 20%;
  height: 74px;
  background-color: rgb(43, 42, 40);
  margin: 0 auto;
}
.chess_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.login_signup_content {
  color: white;
  height: 600px;
  width: 100%;
}
.login_container {
  margin: 0 auto;
  width: 30%;
  background-color: #262421;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 600px;
  border-radius: 16px;
}
.login_content {
  padding: 20px 40px;
  width: 100%;
  height: 100%;
}
.login_form input {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  background-color: #3c3a38;
  margin-top: 16px;
  border: none;
  padding-left: 10px;
  outline: none;
  caret-color: rgba(245, 245, 245, 0.805);
  color: rgba(245, 245, 245, 0.805);
}

.login_form input::placeholder {
  color: #9e9d9c;
}
.login_form input::-ms-reveal {
  color: rgba(245, 245, 245, 0.805);
}
.login_form button {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 6px rgb(69, 117, 60);
  background-color: rgb(129, 182, 76);
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  color: whitesmoke;
}
.login_form button:hover {
  background-color: #a2d060;
  box-shadow: 0px 6px #558D44;
}
.or_css {
  display: flex;
  color: rgba(245, 245, 245, 0.805);
  margin-top: 80px;
  align-items: end;
}
.or_css span {
  flex: 1;
  text-align: center;
}
.or_css hr {
  flex: 2;
  border-bottom: 1px solid rgba(245, 245, 245, 0.805);
  height: 0;
}
.register_button {
  height: 50px;
  width: 100%;
  margin-top: 60px;
  border-radius: 8px;
  background-color: grey;
  border: none;
  color: white;
  font-size: 25px;
  font-weight: 600;
  box-shadow: 0px 6px darkgray;
  cursor: pointer;
}
.register_button:hover {
  background-color: rgb(168, 167, 167);
  box-shadow: 0px 6px rgb(153, 152, 152)

}
