.square_container {
  width: 12.5%;
  height: 12.5%;
  cursor: pointer;
}
.square_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.black_square {
  background-color: #779556;
}
.white_square {
  background-color: #ebecd0;
}
.active_square {
  background-color: red;
  width: 100%;
  height: 100%;
}
.chess_has_active_white_square{
  background-color: rgb(244,246,128);
  width: 100%;
  height: 100%;
}
.chess_has_active_black_square{
  background-color: #BBCC44;
  width: 100%;
  height: 100%;
}